


@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito, sans-serif;
  background: "url(./Shared/Background/MushrumMarioBack.jpg)"
}

main {
  max-width: 30rem;
  margin: auto;
  padding: 2rem 1rem;

}

main > h1 {
  text-align: center;
}

.Add-article {
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.Add-article label {
  margin: 0.4rem auto;

}

.Add-article input {
  display: block;
  margin: 1rem auto;
  width: 20rem;
  padding: 0.5rem;
  border: 1px solid #00b8e6;
  border-radius: 10px;
  outline: none;
}

.Add-article button {
  margin: 1.4rem auto;
  width: 21rem;
  padding: 0.7rem;
  border: 3px solid #00b8e6;
  background: #00b8e6;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.Add-article button:hover {
  background: #0093b8;
}

.Add-article button:disabled {
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
  cursor: not-allowed;
}

.Article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  border-radius: 10px;
}


.Answers-field{
  position: absolute;
  display: flex;
  justify-content: Center;
  padding: 1.3rem;
  border-radius: 10px;
  width: 50%;
  height: 20px;
}

#p1 {
  position: absolute;
  margin-bottom: 20px;
  width: 60%;
  height: 15px;
  bottom: 68px;
  left: 0px;
  font-size: 2em;
  white-space: nowrap;
}

.Article button {
  position: absolute;
  padding: 0.5rem 0.7rem;
  border: 1px solid #d34b4b;
  background: #d34b4b;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  left: 70%;
  top: -31px;
}

.Article button:hover {
  background: #e06a6a;
}

link{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;

}
link:hover{
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
link:nth-child(1){
  filter: hue-rotate(270deg);
}
link:nth-child(2){
  filter: hue-rotate(110deg);
}
link span{
  position: absolute;
  display: block;
}
link span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
link span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
link span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


link span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}
